

.contact {

	.map {
		width: 100%;

		.acf-map {
			width: 100%;
			height: 300px;
		}
	}

	.contact-details {
		max-width: 800px;
		margin: 1em auto;
		padding: 0;

		.contact-details-item {

			padding: 1em 0;
			margin: 1em 0;
			border-bottom: 1px solid white;
			list-style: none;

			&:last-child {
				border: none;
			}

			> * {
				margin-top: 0;
			}

			&.contact-details-item--address {

				@include media($tablet-min) {

					margin-top: 1em;
					display: flex;
					align-items: flex-end;
				}

				padding-bottom: 2em;

			}

			.contact-address-col {
				@include media($mobile) {
					text-align: center;
					margin-bottom: 1em;
				}

				flex: 2 auto;

			}

		}

	}


}

.social-links {
	margin: 0;
	padding: 0;

	@include media($mobile) {

		margin-top: 1em;
	}

	li {
		list-style: none;

		i {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			width: 20px;
			height: 20px;
			background-size: 100%;
		}

		.twitter i {
			background: url('../assets/images/icon-twitter.svg') no-repeat center center;
		}
		.facebook i {
			background: url('../assets/images/icon-facebook.svg') no-repeat center center;
		}
	}
}