

footer {
	margin-top: 1.5em;
	padding: 1.5em 0;
	border-top: 1px solid white;
	@include clearfix;
	a {
		color: $primaryColor;
		text-decoration: none;
		&:hover {
			color: $brandColor_secondary;
		}
	}

	.col {
		width: 100%;
		@include media($mobile) {
			@include reset-display;
			float: right;
		}
		@include media($tablet-min) {
			@include span-columns(6);
		}

		&.col-footer-navigation {
			float: right;
			@include media($mobile) {
				@include reset-display;
				float: left;
			}
		}
	}

	.copyright {
		@include media($tablet) {
			text-align: center;
		}
	}

	#footer-navigation {
		ul {
			margin: 0 0 1.5em;
			padding: 0;
			text-align: center;
			width: 100%;

			@include media($tablet-min) {
				margin: 0;
				text-align: right;
			}

			li {
				list-style: none;
				display: inline-block;
				a {
					font-size: 16px;
					padding: .2em .5em;
				}

				&.current-menu-item {
					a {color: $brandColor_secondary;}
				}
			}
		}
	}
}