

body {
	background-color: $brandColor_primary;
	color: $primaryColor;
	font-family: "montserrat", Arial, Helvetica, sans-serif;

	margin: 0;
	padding: 0;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;

	@include font-size(16);
}


#site-wrapper {
	@include outer-container(90%);

	@include media($desktop-min) {
		@include outer-container(90%);
	}

	@include media($bigscreen-min) {
		@include outer-container(1240px);
	}

}


a {
	color: $brandColor_secondary;
}


