

header {
	margin-bottom: 1em;
	padding: 1em 0 15px;
	border-bottom: 1px solid $primaryColor;

	@include clearfix;

	@include media($tablet-min) {
		/* for older browsers */
		display: table;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
	}
}



.screen-reader-text {
	display: none;
}


.site-header-main {
	width: 75%;
	flex-grow: 3;
	vertical-align: middle;
}

.header-image {
	display: inline-block;
	width: 25%;
	flex-grow: 1;
	vertical-align: middle;
	//width: 150px;
	float: right;

	@include media($tablet) {

	}

	a {
		display: block;
		float: right;
		max-width: 200px;
		line-height: 150%;

		@include media($tablet) {
			max-width: 150px;
		}
	}

	img {
		//max-width: 200px;
		//height: auto;
		//float: right;
		width: 100px;
		@include media($tablet-min) {
			width: 150px;
		}
		@include media($desktop-min) {
			width: 200px;
		}
		border: 0;


	}
}

/** Navigation **/
// Generic nav styles
.navigation {

	ul {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			display: inline-block;

			a {
				color: $primaryColor;
				padding: 1em .5em;
				text-decoration: none;
				position: relative;
				z-index: 10;

				&:hover {
					color: $brandColor_secondary;
				}
			}

			&.current-menu-item, &.current-menu-parent{
				> a {
					color: $brandColor_secondary;
					text-decoration: none;
				}
			}
		}
	}
}
//main nav styles
.main-navigation {
	@include media($tablet-min) {
		display: block !important;
	}
	ul li {
		a {
			font-size: 16px;
			padding-bottom: 18px;
			&::after {
				content: '';
				position: absolute;
				bottom: 7px;
				opacity: 0;
				width: 100%;
				left: 0;
				height: 1px;
				background-color: $brandColor_secondary;

				transition: all .2s ease-in-out;
			}

			&:hover {
				cursor: pointer;
				//&::after {
				//	bottom: -1px;
				//	opacity: 1;
				//	height: 1px;
				//}
			}
		}

		&.current-menu-item, &.current-menu-parent {
			a {
				//&::after {
				//	bottom: -1px;
				//	opacity: 1;
				//	height: 1px;
				//}
			}
		}
	}
}
// first nav styles
.top-navigation {
	margin-top: 2em;
	margin-bottom: 2em;

	@include media($tablet-min) {
		display: block !important;
	}

	li a {

		text-transform: uppercase;
		@include media($tablet-min) {
			@include font-size(14);
		}
		span {
			display: none;
			content: 'arrow';
			color: white;
			width: 20px;
			height: 10px;
			margin-left: 5px;
			font-size: 12px;
		}
	}

	li.active {
		a {color: $brandColor_secondary;}
	}
}


//submenu styles
.main-navigation ul li .sub-menu {
	background-color: $brandColor_primary;
	width: 200px;
	display: none;
	position: absolute;
	top: 22px;
	left: 0;
	z-index: 1000;
	padding: .5em 1em !important;

	li {
		display: block;
		a {
			padding: .3em .5em;
			display: block;
			text-transform: none;
			&::after { display: none;}
		}
	}
}

.main-navigation li {
	position: relative;
	> .sub-menu {
		display: none;
	}
	&.open {
		> .sub-menu {
			display: block;
		}
	}
}
.menu-item-has-children {
	&.open {
		> a {
			color: $brandColor_secondary;
			//&::after {
			//	bottom: -1px;
			//	opacity: 1;
			//	height: 1px;
			//}
		}
	}
}


// Slideout menu
.toggle-button {
	position: absolute;
	top: 15px;
	left: 0px;
	background-color: transparent;
	-webkit-appearance: button;
	cursor: pointer;
	color: white;
	//padding: .2em .5em;
	border: 0px;
	font-size: 21px;
	outline: none;
	@include media($tablet-min) {
		display: none;
	}
}
.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 256px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
}

.slideout-menu-left {
	left: 0;
}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	background-color: $brandColor_primary; /* A background-color is required */
	min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}


/** Mobile **/
.mobile-menu {
	padding: 1em;
}

.navigation-mobile {

	&.top-navigation {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	&.main-navigation {
		border-top: 1px solid white;
		margin-top: 10px;
		padding-top: 10px;
	}

	ul li {
		display: block;
		.sub-menu {
			position: relative;
			top: 0;
			width: 100%;
			padding: .5em !important;

			a {
				text-transform: none;}
		}
		a {
			display: block;
			padding: 10px 0;
			&::after { display: none; }
		}
	}
}


