/**
 ** Override Colorbox plugin styles
 **/

#cboxOverlay{
	background: $brandColor_primary;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

#cboxTopLeft{background: none;}
#cboxTopRight{background: none;}
#cboxBottomLeft{background: none;}
#cboxBottomRight{background: none;}
#cboxMiddleLeft{background: none;}
#cboxMiddleRight{background: none;}
#cboxTopCenter{background: none;}
#cboxBottomCenter{background: none;}


#cboxLoadingOverlay{
	background:none;
}
#cboxLoadingGraphic{
	position:absolute; top:50%; left:50%; width:50px; height:50px;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-webkit-transform3d: translate3d(-50%, -50%, 0);

	background:url(../assets/images/loader.gif) no-repeat center center; background-size: 100%;
}

#cboxTitle, #cboxCurrent {
	color: black;
}

#cboxCurrent {
	left: 10px;
}

#cboxPrevious, #cboxNext {
	background-size: contain;
	bottom: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 30px;
	height: 30px;
	&:hover {
		background-position: 0 0;
	}
}

#cboxPrevious {
	background: url('../assets/images/icon-left-arrow.svg') no-repeat center center;
}

#cboxNext {
	left: inherit;
	right: 0;
	background: url('../assets/images/icon-right-arrow.svg') no-repeat center center;
}

#cboxClose {
	background-size: contain;
	bottom: inherit;
	top: 10px;
	right: 10px;
	background: url('../assets/images/icon-close.svg') no-repeat center center;

	&:hover {
		background-position: 0 0;
	}
}