


/* Product Header */
.product-header {
	background-color: white;
	border: 1px solid white;
	position: relative;
	img {
		width: 100%;
	}
}

// Tabs
.tabs {
	margin: 0;
	padding: 0 .5em .3em;
	li {
		display: inline-block;
		margin-right: 10px;
		&.active {
			a {color: $brandColor_secondary;}
		}

		a {
			color: black;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

/* Product Title */
.product-title {
	display: block;
	text-align: center;
	h1 {
		padding: .5em 3em;
		margin: .5em auto .5em;
		display: inline-block;
		text-transform: uppercase;

		&.main-title {
			border-bottom: 2px solid white;
			margin-bottom: 1.5em;
		}

		@include media($mobile) {
			@include font-size(24);
		}
		@include font-size(35);
	}
}


/**
 ** Grid
 **/
.row {
	@include outer-container;

	.col {

		@include media($tablet-min) {
			@include span-columns(6);
			//@include pad();
		}
	}
}

.product-col {
	padding-left: 1em;
	&:first-child {
		@include media($tablet-min) {
			padding-left: 0;
			padding-right: 1em;
		}
	}
}

/** Product List */
.product-detail-list { //ul
	margin: 0;
	padding: 0;
	.product-detail-list-item {
		list-style: none;
		padding: 2.5em 0 2.5em;
		margin: 0 auto;
		border-bottom: 2px solid white;
		@include media($desktop-min) {
			/* for older browsers */
			display: table;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			align-items: center;
		}
		.copy, .image {
			@include media($desktop-min) {
				width: 50%;
				flex: 1 auto;
			}
		}

		.image img {
			width: 100%;
		}

		.copy {
			padding-right: 1em;
			@include font-size(14)
		}

		// first item remove padding top
		&:first-child {
			padding-top: 0px;
		}

		// last item remove margin bottom
		&:last-child {
			margin-bottom: 0px;
		}
	}
}

/** Product Table **/
.product-table {
	$base-border-color: white !default;
	$base-border-radius: 3px !default;
	$base-line-height: 1.5em !default;
	$base-spacing: 1.5em !default;
	$action-color: #477DCA !default;
	$dark-gray: #333 !default;
	$light-gray: #DDD !default;
	$medium-screen: 40em !default;
	$large-screen: 53.75em !default;
	$base-font-color: $dark-gray !default;
	$table-border-color: $base-border-color;
	$table-border: 1px solid $table-border-color;
	$table-background: transparent;
	$table-header-background: lighten($table-background, 10%);
	$table-hover-background: darken($table-background, 5%);
	$table-stripe-background: darken($table-background, 2%);
	$table-stripe-background-hover: darken($table-stripe-background, 5%);
	$table-padding: 1em 1.25em;

	border: $table-border;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	@include font-size(14);

	@include media($mobile) {
		margin-top: 1em;
	}

	tbody {
		background-color: $table-background;

		tr:hover > td, tr:hover > th {
			background-color: $table-hover-background;
		}
		tr:nth-child(even) {
			background-color: $table-stripe-background;
			&:hover > td {
				background-color: $table-stripe-background-hover;
			}
		}
	}

	thead:first-of-type {
		tr:first-child > th:first-child {
			border-top-left-radius: $base-border-radius;

		}

		tr:first-child > th:last-child {
			border-top-right-radius: $base-border-radius;
		}
	}

	tbody:last-child {
		tr:last-child > td:first-child {
			border-bottom-left-radius: $base-border-radius;
			text-transform: uppercase;
		}

		tr:last-child > td:last-child {
			border-bottom-right-radius: $base-border-radius;
		}
	}

	thead {
		th {
			background-color: $table-header-background;
			border-bottom: 0;
			border-left: 1px solid $table-border-color;
			padding: $table-padding;
			text-align: left;

			&:first-child {
				border-left: 0;
			}
		}
	}

	tbody {
		background-color: $table-background;

		td {
			border-bottom: 0;
			border-left: 1px solid $table-border-color;
			border-top: 1px solid $table-border-color;
			padding: $table-padding;

			&:first-child {
				border-left: 0;
				@include font-size(12);
				@include media($desktop-min) {
					@include font-size(14);
				}
			}

			button {
				display: inline-block;
				font-size: 0.7em;
				line-height: $base-line-height;
				margin-bottom: 0.3em;
				margin-right: 0.5em;
				outline: none;
				padding: 0.3em 1em;
				width: 100%;

				@include media($tablet-min) {
					margin-bottom: 0;
					width: auto;
				}
			}
		}
	}
}

/** Product Resistance Table **/
.product-resistance-table {
	@extend .product-table;

	margin-top: 1.5em;

	tbody {
		td:first-child {
			word-break: break-word;
			@include font-size(12);
			@include media($tablet) {
				max-width: 150px;
			}
			@include media($desktop-min) {
				max-width: 140px;
				@include font-size(14);
			}
		}
	}

}

.resistance-level {
	span {
		display: inline-block;
		vertical-align: middle;
		&.arrow {
			width: 90px;
			height: 10px;
			background: url('../assets/images/level-status-arrow.png') no-repeat center center;
			margin: 0 .5em;
		}
	}
}

.level-container {
	display: block;
	.level-container--items {
		margin: 0;
		padding: 0;
		/* for older browsers */
		display: table;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		align-items: flex-start;
		align-content: space-around;
		-webkit-flex-flow: row wrap;


		.level-container-items--item {
			list-style: none;
			width: 15px;
			height: 15px;
			background: transparent;
			border: 2px solid $brandColor_secondary;
			border-radius: 100%;
			margin: 0 .2em;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-webkit-border-radius: 100%;

			@include media($desktop-min) {
				width: 20px;
				height: 20px;
				margin: 0 .5em;
			}

			&.active {
				background-color: $brandColor_secondary;
			}
		}

		.level-container-items--item:first-child {
			margin-left: 0;
		}
	}
}

.level-description {
	margin-top: .8em;
}


/** Decor List **/
.decor-list {
	margin: 0 -.5em;
	padding: 0;
	/* for older browsers */
	display: table;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	align-content: space-around;
	-webkit-flex-flow: row wrap;

	li {
		flex-basis: 33.3%;
		-ms-webkit-basis: 33.3%;
		-ms-flex-basis: 33.3%;

		@include media($tablet-min) {
			flex-basis: 16.6%;
			-ms-webkit-basis: 16.6%;
			-ms-flex-basis: 16.6%;
		}

		list-style: none;
		padding: .5em;

		a  {
			text-decoration: none;
			outline: none;
			figure {
				margin: 0;
				.img-rounded {
					overflow: hidden;
					width: 100%;
					border-radius: 10px;
					-border-radius: 10px;
					border: 1px solid white;
				}

				figcaption {
					color: white;
					text-decoration: none;
					margin-top: 1em;
					text-align: center;
				}
			}
		}

	}
}


/** Overlay Popup */
.cboxElement {
	&:hover {
		cursor: -moz-zoom-in;
		cursor: -webkit-zoom-in;
		cursor: zoom-in;
	}
}

/** Down arrow */
.down-arrow {
	display: none;
	width: 30px;
	height: 30px;
	background: url('../assets/images/icon-down-arrow.png') no-repeat center center transparent;
	@include font-size(12);
	position: absolute;
	background-size: cover;
	bottom: 70px;
	z-index: 2500;
	text-indent:-99999px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);

	@include media($desktop-min) {
		display: block;

	}

	&:hover {
		cursor: pointer;
	}
}


