


.cycle-slideshow {
	margin: 0;
	padding: 0;
	overflow: hidden;
	li {
		list-style: none;
		overflow: hidden;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}
}


.carousel-pager {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin-top: -35px;
	z-index: 250;

	.carousel-pager-direction {
		position: relative;

		a {
			position: absolute;
			left: 0px;
			top:0;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			text-indent: -9999px;
			display: block;
			width: 34px;
			height: 34px;
			z-index: 250;

			&.cycle-next, &.cycle-prev {
				&.inactive {
					opacity: .4;
					cursor: not-allowed;
				}
			}

			&.cycle-prev {
				background-image: url('../assets/images/icon-left-arrow.svg');
			}

			&.cycle-next {
				background-image: url('../assets/images/icon-right-arrow.svg');
				left: inherit;
				right: 0px;
			}

		}
	}
}

/** Homapage Slide styles **/
.cycle-slideshow .slide-item { display: none }
.cycle-slideshow .slide-item:first-child { display: block }

.cycle-main {
	.slide-text-wrapper {
		@include media($mobile) {
			display: none;
		}
	}
}

.slide-title {
	position: absolute;
	right: 20px;
	bottom: 20px;
	//color: white;
	//text-shadow: 1px 1px 5px rgba(black, .5);
	@include font-size(40);
	z-index: 20;
}

.slide-text-wrapper {
	@include media($tablet-min) {
		position: absolute;
		left: 20px;
		bottom: 30px;
		max-width: 300px;
	}
	background-color: #2b2b2b;
	color: white;
	padding: 1em;
	z-index: 200;
	@include font-size(14);

	&.slide-text-wrapper-mobile {
		@include media($mobile) {
			display: block;
			position: relative;
		}

	}
}