$mobile: new-breakpoint(max-width 47.3em 12);
$tablet: new-breakpoint(max-width 65.5em 12);
$tablet-min: new-breakpoint(min-width 48.1em 12);
$desktop-min: new-breakpoint(min-width 71.1em 12);
$bigscreen-min: new-breakpoint(min-width 88.8em 12);

$primaryColor: #ffffff;
$secondaryColor: #000000;

$brandColor_primary: #231f20;
$brandColor_secondary: #f26f7b;