/**
 ** Internet Explorer Unique Styles
 **/
/** Generic **/
a, img {
  border: none;
  outline: none; }

html {
  width: 100%; }

body {
  overflow-x: hidden; }

#cboxOverlay {
  background: #231f20 !important;
  opacity: 0.9 !important;
  filter: alpha(opacity=90) !important; }

#cboxTopLeft {
  background: none !important; }

#cboxTopRight {
  background: none !important; }

#cboxBottomLeft {
  background: none !important; }

#cboxBottomRight {
  background: none !important; }

#cboxMiddleLeft {
  background: none !important; }

#cboxMiddleRight {
  background: none !important; }

#cboxTopCenter {
  background: none !important; }

#cboxBottomCenter {
  background: none !important; }

#cboxLoadingOverlay {
  background: none !important; }

#cboxLoadingGraphic {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 50px !important;
  height: 50px !important;
  -webkit-transform: translate3d(-50%, -50%, 0) !important;
  -webkit-transform3d: translate3d(-50%, -50%, 0) !important;
  background: url(../assets/images/loader.gif) no-repeat center center !important;
  background-size: 100% !important; }

#cboxTitle, #cboxCurrent {
  color: black !important; }

#cboxCurrent {
  left: 10px !important; }

#cboxPrevious, #cboxNext {
  background-size: contain !important;
  bottom: 50% !important;
  transform: translateY(-50%) !important;
  -webkit-transform: translateY(-50%) !important;
  width: 30px !important;
  height: 30px !important; }

#cboxPrevious:hover, #cboxNext:hover {
  background-position: 0 0 !important; }

#cboxPrevious {
  background: url("../assets/images/icon-left-arrow.svg") no-repeat center center !important; }

#cboxNext {
  left: inherit !important;
  right: 0 !important;
  background: url("../assets/images/icon-right-arrow.svg") no-repeat center center !important; }

#cboxClose {
  background-size: contain !important;
  bottom: inherit !important;
  top: 10px !important;
  right: 10px !important;
  background: url("../assets/images/icon-close.svg") no-repeat center center !important; }

#cboxClose:hover {
  background-position: 0 0 !important; }

/** Header **/
.site-header {
  width: 100% !important; }

.site-header-main, .header-image {
  display: table-cell;
  vertical-align: middle; }

.site-header .site-header-main > div {
  width: 100% !important; }

.header-image {
  margin-top: 2em; }

.header-image a {
  display: block; }

.header-image img {
  width: 100%;
  display: block;
  float: none; }

.header-image img[src$=".svg"] {
  display: block; }

/** Products **/
.product-detail-list .product-detail-list-item .image, .product-detail-list .product-detail-list-item .copy {
  display: table-cell;
  vertical-align: middle; }

.decor-list li {
  display: inline-block;
  vertical-align: top;
  width: 16%; }

/** Contact **/
.contact-details .contact-details-item .contact-address-col {
  display: table-cell;
  vertical-align: middle;
  width: 36%; }

.ie-banner {
  display: block !important;
  background-color: #658acf;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000; }
  .ie-banner .content {
    margin: 150px auto;
    width: 450px; }
    .ie-banner .content a {
      color: white; }

.cd-timeline-navigation a::after {
  background: url(../assets/images/cd-arrow-right.svg) no-repeat 0 0 !important;
  background-size: 100% 100% !important; }

.cd-timeline-navigation .prev::after {
  background: url(../assets/images/cd-arrow-left.svg) no-repeat 0 0 !important;
  background-size: 100% 100% !important; }

/*# sourceMappingURL=ie-styles.css.map */
