/**
 ** Shore Styles
 **/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#montserrat") format("svg"); }
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat-bold-webfont.ttf") format("truetype"), url("fonts/montserrat-bold-webfont.svg#montserrat") format("svg"); }
body {
  background-color: #231f20;
  color: #ffffff;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem; }

#site-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  #site-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 71.1em) {
    #site-wrapper {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
      #site-wrapper::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 88.8em) {
    #site-wrapper {
      max-width: 1240px;
      margin-left: auto;
      margin-right: auto; }
      #site-wrapper::after {
        clear: both;
        content: "";
        display: table; } }

a {
  color: #f26f7b; }

header {
  margin-bottom: 1em;
  padding: 1em 0 15px;
  border-bottom: 1px solid #ffffff; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 48.1em) {
    header {
      /* for older browsers */
      display: table;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center; } }

.screen-reader-text {
  display: none; }

.site-header-main {
  width: 75%;
  flex-grow: 3;
  vertical-align: middle; }

.header-image {
  display: inline-block;
  width: 25%;
  flex-grow: 1;
  vertical-align: middle;
  float: right; }
  .header-image a {
    display: block;
    float: right;
    max-width: 200px;
    line-height: 150%; }
    @media screen and (max-width: 65.5em) {
      .header-image a {
        max-width: 150px; } }
  .header-image img {
    width: 100px;
    border: 0; }
    @media screen and (min-width: 48.1em) {
      .header-image img {
        width: 150px; } }
    @media screen and (min-width: 71.1em) {
      .header-image img {
        width: 200px; } }

/** Navigation **/
.navigation ul {
  padding: 0;
  margin: 0; }
  .navigation ul li {
    list-style: none;
    display: inline-block; }
    .navigation ul li a {
      color: #ffffff;
      padding: 1em .5em;
      text-decoration: none;
      position: relative;
      z-index: 10; }
      .navigation ul li a:hover {
        color: #f26f7b; }
    .navigation ul li.current-menu-item > a, .navigation ul li.current-menu-parent > a {
      color: #f26f7b;
      text-decoration: none; }

@media screen and (min-width: 48.1em) {
  .main-navigation {
    display: block !important; } }
.main-navigation ul li a {
  font-size: 16px;
  padding-bottom: 18px; }
  .main-navigation ul li a::after {
    content: '';
    position: absolute;
    bottom: 7px;
    opacity: 0;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: #f26f7b;
    transition: all .2s ease-in-out; }
  .main-navigation ul li a:hover {
    cursor: pointer; }

.top-navigation {
  margin-top: 2em;
  margin-bottom: 2em; }
  @media screen and (min-width: 48.1em) {
    .top-navigation {
      display: block !important; } }
  .top-navigation li a {
    text-transform: uppercase; }
    @media screen and (min-width: 48.1em) {
      .top-navigation li a {
        font-size: 14px;
        line-height: 21px;
        font-size: 0.875rem;
        line-height: 1.3125rem; } }
    .top-navigation li a span {
      display: none;
      content: 'arrow';
      color: white;
      width: 20px;
      height: 10px;
      margin-left: 5px;
      font-size: 12px; }
  .top-navigation li.active a {
    color: #f26f7b; }

.main-navigation ul li .sub-menu {
  background-color: #231f20;
  width: 200px;
  display: none;
  position: absolute;
  top: 22px;
  left: 0;
  z-index: 1000;
  padding: .5em 1em !important; }
  .main-navigation ul li .sub-menu li {
    display: block; }
    .main-navigation ul li .sub-menu li a {
      padding: .3em .5em;
      display: block;
      text-transform: none; }
      .main-navigation ul li .sub-menu li a::after {
        display: none; }

.main-navigation li {
  position: relative; }
  .main-navigation li > .sub-menu {
    display: none; }
  .main-navigation li.open > .sub-menu {
    display: block; }

.menu-item-has-children.open > a {
  color: #f26f7b; }

.toggle-button {
  position: absolute;
  top: 15px;
  left: 0px;
  background-color: transparent;
  -webkit-appearance: button;
  cursor: pointer;
  color: white;
  border: 0px;
  font-size: 21px;
  outline: none; }
  @media screen and (min-width: 48.1em) {
    .toggle-button {
      display: none; } }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #231f20;
  /* A background-color is required */
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

/** Mobile **/
.mobile-menu {
  padding: 1em; }

.navigation-mobile.top-navigation {
  margin-top: 30px;
  margin-bottom: 10px; }
.navigation-mobile.main-navigation {
  border-top: 1px solid white;
  margin-top: 10px;
  padding-top: 10px; }
.navigation-mobile ul li {
  display: block; }
  .navigation-mobile ul li .sub-menu {
    position: relative;
    top: 0;
    width: 100%;
    padding: .5em !important; }
    .navigation-mobile ul li .sub-menu a {
      text-transform: none; }
  .navigation-mobile ul li a {
    display: block;
    padding: 10px 0; }
    .navigation-mobile ul li a::after {
      display: none; }

footer {
  margin-top: 1.5em;
  padding: 1.5em 0;
  border-top: 1px solid white; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer a {
    color: #ffffff;
    text-decoration: none; }
    footer a:hover {
      color: #f26f7b; }
  footer .col {
    width: 100%; }
    @media screen and (max-width: 47.3em) {
      footer .col {
        float: right; } }
    @media screen and (min-width: 48.1em) {
      footer .col {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        footer .col:last-child {
          margin-right: 0; } }
    footer .col.col-footer-navigation {
      float: right; }
      @media screen and (max-width: 47.3em) {
        footer .col.col-footer-navigation {
          float: left; } }
  @media screen and (max-width: 65.5em) {
    footer .copyright {
      text-align: center; } }
  footer #footer-navigation ul {
    margin: 0 0 1.5em;
    padding: 0;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 48.1em) {
      footer #footer-navigation ul {
        margin: 0;
        text-align: right; } }
    footer #footer-navigation ul li {
      list-style: none;
      display: inline-block; }
      footer #footer-navigation ul li a {
        font-size: 16px;
        padding: .2em .5em; }
      footer #footer-navigation ul li.current-menu-item a {
        color: #f26f7b; }

.cycle-slideshow {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .cycle-slideshow li {
    list-style: none;
    overflow: hidden;
    width: 100%; }
    .cycle-slideshow li img {
      width: 100%;
      height: 100%; }

.carousel-pager {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin-top: -35px;
  z-index: 250; }
  .carousel-pager .carousel-pager-direction {
    position: relative; }
    .carousel-pager .carousel-pager-direction a {
      position: absolute;
      left: 0px;
      top: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      text-indent: -9999px;
      display: block;
      width: 34px;
      height: 34px;
      z-index: 250; }
      .carousel-pager .carousel-pager-direction a.cycle-next.inactive, .carousel-pager .carousel-pager-direction a.cycle-prev.inactive {
        opacity: .4;
        cursor: not-allowed; }
      .carousel-pager .carousel-pager-direction a.cycle-prev {
        background-image: url("../assets/images/icon-left-arrow.svg"); }
      .carousel-pager .carousel-pager-direction a.cycle-next {
        background-image: url("../assets/images/icon-right-arrow.svg");
        left: inherit;
        right: 0px; }

/** Homapage Slide styles **/
.cycle-slideshow .slide-item {
  display: none; }

.cycle-slideshow .slide-item:first-child {
  display: block; }

@media screen and (max-width: 47.3em) {
  .cycle-main .slide-text-wrapper, .cycle-main .cd-horizontal-timeline .events-content li .timeline-image-wrapper .timeline-image-details, .cd-horizontal-timeline .events-content li .timeline-image-wrapper .cycle-main .timeline-image-details {
    display: none; } }

.slide-title {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 40px;
  line-height: 60px;
  font-size: 2.5rem;
  line-height: 3.75rem;
  z-index: 20; }

.slide-text-wrapper, .cd-horizontal-timeline .events-content li .timeline-image-wrapper .timeline-image-details {
  background-color: #2b2b2b;
  color: white;
  padding: 1em;
  z-index: 200;
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem; }
  @media screen and (min-width: 48.1em) {
    .slide-text-wrapper, .cd-horizontal-timeline .events-content li .timeline-image-wrapper .timeline-image-details {
      position: absolute;
      left: 20px;
      bottom: 30px;
      max-width: 300px; } }
  @media screen and (max-width: 47.3em) {
    .slide-text-wrapper.slide-text-wrapper-mobile, .cd-horizontal-timeline .events-content li .timeline-image-wrapper .slide-text-wrapper-mobile.timeline-image-details {
      display: block;
      position: relative; } }

/* Product Header */
.product-header {
  background-color: white;
  border: 1px solid white;
  position: relative; }
  .product-header img {
    width: 100%; }

.tabs {
  margin: 0;
  padding: 0 .5em .3em; }
  .tabs li {
    display: inline-block;
    margin-right: 10px; }
    .tabs li.active a {
      color: #f26f7b; }
    .tabs li a {
      color: black;
      text-transform: uppercase;
      text-decoration: none; }

/* Product Title */
.product-title {
  display: block;
  text-align: center; }
  .product-title h1 {
    padding: .5em 3em;
    margin: .5em auto .5em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 52.5px;
    font-size: 2.1875rem;
    line-height: 3.28125rem; }
    .product-title h1.main-title {
      border-bottom: 2px solid white;
      margin-bottom: 1.5em; }
    @media screen and (max-width: 47.3em) {
      .product-title h1 {
        font-size: 24px;
        line-height: 36px;
        font-size: 1.5rem;
        line-height: 2.25rem; } }

/**
 ** Grid
 **/
.row {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 48.1em) {
    .row .col {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .row .col:last-child {
        margin-right: 0; } }

.product-col {
  padding-left: 1em; }
  @media screen and (min-width: 48.1em) {
    .product-col:first-child {
      padding-left: 0;
      padding-right: 1em; } }

/** Product List */
.product-detail-list {
  margin: 0;
  padding: 0; }
  .product-detail-list .product-detail-list-item {
    list-style: none;
    padding: 2.5em 0 2.5em;
    margin: 0 auto;
    border-bottom: 2px solid white; }
    @media screen and (min-width: 71.1em) {
      .product-detail-list .product-detail-list-item {
        /* for older browsers */
        display: table;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center; } }
    @media screen and (min-width: 71.1em) {
      .product-detail-list .product-detail-list-item .copy, .product-detail-list .product-detail-list-item .image {
        width: 50%;
        flex: 1 auto; } }
    .product-detail-list .product-detail-list-item .image img {
      width: 100%; }
    .product-detail-list .product-detail-list-item .copy {
      padding-right: 1em;
      font-size: 14px;
      line-height: 21px;
      font-size: 0.875rem;
      line-height: 1.3125rem; }
    .product-detail-list .product-detail-list-item:first-child {
      padding-top: 0px; }
    .product-detail-list .product-detail-list-item:last-child {
      margin-bottom: 0px; }

/** Product Table **/
.product-table, .product-resistance-table {
  border: 1px solid white;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem; }
  @media screen and (max-width: 47.3em) {
    .product-table, .product-resistance-table {
      margin-top: 1em; } }
  .product-table tbody, .product-resistance-table tbody {
    background-color: transparent; }
    .product-table tbody tr:hover > td, .product-resistance-table tbody tr:hover > td, .product-table tbody tr:hover > th, .product-resistance-table tbody tr:hover > th {
      background-color: transparent; }
    .product-table tbody tr:nth-child(even), .product-resistance-table tbody tr:nth-child(even) {
      background-color: transparent; }
      .product-table tbody tr:nth-child(even):hover > td, .product-resistance-table tbody tr:nth-child(even):hover > td {
        background-color: transparent; }
  .product-table thead:first-of-type tr:first-child > th:first-child, .product-resistance-table thead:first-of-type tr:first-child > th:first-child {
    border-top-left-radius: 3px; }
  .product-table thead:first-of-type tr:first-child > th:last-child, .product-resistance-table thead:first-of-type tr:first-child > th:last-child {
    border-top-right-radius: 3px; }
  .product-table tbody:last-child tr:last-child > td:first-child, .product-resistance-table tbody:last-child tr:last-child > td:first-child {
    border-bottom-left-radius: 3px;
    text-transform: uppercase; }
  .product-table tbody:last-child tr:last-child > td:last-child, .product-resistance-table tbody:last-child tr:last-child > td:last-child {
    border-bottom-right-radius: 3px; }
  .product-table thead th, .product-resistance-table thead th {
    background-color: rgba(26, 26, 26, 0);
    border-bottom: 0;
    border-left: 1px solid white;
    padding: 1em 1.25em;
    text-align: left; }
    .product-table thead th:first-child, .product-resistance-table thead th:first-child {
      border-left: 0; }
  .product-table tbody, .product-resistance-table tbody {
    background-color: transparent; }
    .product-table tbody td, .product-resistance-table tbody td {
      border-bottom: 0;
      border-left: 1px solid white;
      border-top: 1px solid white;
      padding: 1em 1.25em; }
      .product-table tbody td:first-child, .product-resistance-table tbody td:first-child {
        border-left: 0;
        font-size: 12px;
        line-height: 18px;
        font-size: 0.75rem;
        line-height: 1.125rem; }
        @media screen and (min-width: 71.1em) {
          .product-table tbody td:first-child, .product-resistance-table tbody td:first-child {
            font-size: 14px;
            line-height: 21px;
            font-size: 0.875rem;
            line-height: 1.3125rem; } }
      .product-table tbody td button, .product-resistance-table tbody td button {
        display: inline-block;
        font-size: 0.7em;
        line-height: 1.5em;
        margin-bottom: 0.3em;
        margin-right: 0.5em;
        outline: none;
        padding: 0.3em 1em;
        width: 100%; }
        @media screen and (min-width: 48.1em) {
          .product-table tbody td button, .product-resistance-table tbody td button {
            margin-bottom: 0;
            width: auto; } }

/** Product Resistance Table **/
.product-resistance-table {
  margin-top: 1.5em; }
  .product-resistance-table tbody td:first-child {
    word-break: break-word;
    font-size: 12px;
    line-height: 18px;
    font-size: 0.75rem;
    line-height: 1.125rem; }
    @media screen and (max-width: 65.5em) {
      .product-resistance-table tbody td:first-child {
        max-width: 150px; } }
    @media screen and (min-width: 71.1em) {
      .product-resistance-table tbody td:first-child {
        max-width: 140px;
        font-size: 14px;
        line-height: 21px;
        font-size: 0.875rem;
        line-height: 1.3125rem; } }

.resistance-level span {
  display: inline-block;
  vertical-align: middle; }
  .resistance-level span.arrow {
    width: 90px;
    height: 10px;
    background: url("../assets/images/level-status-arrow.png") no-repeat center center;
    margin: 0 .5em; }

.level-container {
  display: block; }
  .level-container .level-container--items {
    margin: 0;
    padding: 0;
    /* for older browsers */
    display: table;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    -webkit-flex-flow: row wrap; }
    .level-container .level-container--items .level-container-items--item {
      list-style: none;
      width: 15px;
      height: 15px;
      background: transparent;
      border: 2px solid #f26f7b;
      border-radius: 100%;
      margin: 0 .2em;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -webkit-border-radius: 100%; }
      @media screen and (min-width: 71.1em) {
        .level-container .level-container--items .level-container-items--item {
          width: 20px;
          height: 20px;
          margin: 0 .5em; } }
      .level-container .level-container--items .level-container-items--item.active {
        background-color: #f26f7b; }
    .level-container .level-container--items .level-container-items--item:first-child {
      margin-left: 0; }

.level-description {
  margin-top: .8em; }

/** Decor List **/
.decor-list {
  margin: 0 -.5em;
  padding: 0;
  /* for older browsers */
  display: table;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  -webkit-flex-flow: row wrap; }
  .decor-list li {
    flex-basis: 33.3%;
    -ms-webkit-basis: 33.3%;
    -ms-flex-basis: 33.3%;
    list-style: none;
    padding: .5em; }
    @media screen and (min-width: 48.1em) {
      .decor-list li {
        flex-basis: 16.6%;
        -ms-webkit-basis: 16.6%;
        -ms-flex-basis: 16.6%; } }
    .decor-list li a {
      text-decoration: none;
      outline: none; }
      .decor-list li a figure {
        margin: 0; }
        .decor-list li a figure .img-rounded {
          overflow: hidden;
          width: 100%;
          border-radius: 10px;
          -border-radius: 10px;
          border: 1px solid white; }
        .decor-list li a figure figcaption {
          color: white;
          text-decoration: none;
          margin-top: 1em;
          text-align: center; }

/** Overlay Popup */
.cboxElement:hover {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

/** Down arrow */
.down-arrow {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../assets/images/icon-down-arrow.png") no-repeat center center transparent;
  font-size: 12px;
  line-height: 18px;
  font-size: 0.75rem;
  line-height: 1.125rem;
  position: absolute;
  background-size: cover;
  bottom: 70px;
  z-index: 2500;
  text-indent: -99999px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }
  @media screen and (min-width: 71.1em) {
    .down-arrow {
      display: block; } }
  .down-arrow:hover {
    cursor: pointer; }

/**
 ** Override Colorbox plugin styles
 **/
#cboxOverlay {
  background: #231f20;
  opacity: 0.9;
  filter: alpha(opacity=90); }

#cboxTopLeft {
  background: none; }

#cboxTopRight {
  background: none; }

#cboxBottomLeft {
  background: none; }

#cboxBottomRight {
  background: none; }

#cboxMiddleLeft {
  background: none; }

#cboxMiddleRight {
  background: none; }

#cboxTopCenter {
  background: none; }

#cboxBottomCenter {
  background: none; }

#cboxLoadingOverlay {
  background: none; }

#cboxLoadingGraphic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -webkit-transform3d: translate3d(-50%, -50%, 0);
  background: url(../assets/images/loader.gif) no-repeat center center;
  background-size: 100%; }

#cboxTitle, #cboxCurrent {
  color: black; }

#cboxCurrent {
  left: 10px; }

#cboxPrevious, #cboxNext {
  background-size: contain;
  bottom: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 30px;
  height: 30px; }
  #cboxPrevious:hover, #cboxNext:hover {
    background-position: 0 0; }

#cboxPrevious {
  background: url("../assets/images/icon-left-arrow.svg") no-repeat center center; }

#cboxNext {
  left: inherit;
  right: 0;
  background: url("../assets/images/icon-right-arrow.svg") no-repeat center center; }

#cboxClose {
  background-size: contain;
  bottom: inherit;
  top: 10px;
  right: 10px;
  background: url("../assets/images/icon-close.svg") no-repeat center center; }
  #cboxClose:hover {
    background-position: 0 0; }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }
  .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1; }
  .cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 auto; }
  .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden; }
    .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
      /* these are used to create a shadow effect at the sides of the timeline */
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      width: 20px; }
    .cd-horizontal-timeline .events-wrapper::before {
      left: 0;
      background-image: -webkit-linear-gradient( left , #231f20, rgba(35, 31, 32, 0));
      background-image: linear-gradient(to right, #231f20, rgba(35, 31, 32, 0)); }
    .cd-horizontal-timeline .events-wrapper::after {
      right: 0;
      background-image: -webkit-linear-gradient( right , #231f20, rgba(35, 31, 32, 0));
      background-image: linear-gradient(to left, #231f20, rgba(35, 31, 32, 0)); }
  .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #ffffff;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
    .cd-horizontal-timeline .events li {
      list-style: none; }
  .cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f26f7b;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }
  .cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    text-decoration: none;
    color: #ffffff;
    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    .cd-horizontal-timeline .events a::after {
      /* this is used to create the event spot */
      content: '';
      position: absolute;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -5px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      border: 2px solid #ffffff;
      background-color: #231f20;
      -webkit-transition: background-color 0.3s, border-color 0.3s;
      -moz-transition: background-color 0.3s, border-color 0.3s;
      transition: background-color 0.3s, border-color 0.3s; }
    .no-touch .cd-horizontal-timeline .events a:hover::after {
      background-color: #f26f7b;
      border-color: #f26f7b; }
    .cd-horizontal-timeline .events a.selected {
      pointer-events: none;
      color: #f26f7b; }
      .cd-horizontal-timeline .events a.selected::after {
        background-color: #f26f7b;
        border-color: #f26f7b; }
    .cd-horizontal-timeline .events a.older-event::after {
      border-color: #f26f7b; }
  @media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline {
      margin: 1em auto; }
      .cd-horizontal-timeline::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop'; } }

.cd-timeline-navigation li {
  list-style: none; }

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  .cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../assets/images/cd-arrow-right.svg) no-repeat 0 1px;
    background-size: 100%; }
  .cd-timeline-navigation a.prev {
    left: 0; }
    .cd-timeline-navigation a.prev::after {
      background: url(../assets/images/cd-arrow-left.svg) no-repeat 0 1px; }
  .cd-timeline-navigation a.next {
    right: 0; }
  .no-touch .cd-timeline-navigation a:hover {
    border-color: #f26f7b; }
  .cd-timeline-navigation a.inactive {
    opacity: .5;
    cursor: not-allowed; }
    .no-touch .cd-timeline-navigation a.inactive:hover {
      border-color: #080707; }

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s; }
  .cd-horizontal-timeline .events-content ol {
    padding: 0;
    margin: 0; }
  .cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    list-style: none;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
    .cd-horizontal-timeline .events-content li .timeline-image-wrapper {
      position: relative; }
      .cd-horizontal-timeline .events-content li .timeline-image-wrapper img {
        width: 100%; }
      .cd-horizontal-timeline .events-content li .timeline-image-wrapper .timeline-image-details {
        min-width: 200px;
        max-width: 340px; }
        @media screen and (max-width: 47.3em) {
          .cd-horizontal-timeline .events-content li .timeline-image-wrapper .timeline-image-details {
            max-width: 100%; } }
    .cd-horizontal-timeline .events-content li.selected {
      /* visible event content */
      position: relative;
      z-index: 2;
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
      -webkit-animation-name: cd-enter-right;
      -moz-animation-name: cd-enter-right;
      animation-name: cd-enter-right; }
    .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
      -webkit-animation-name: cd-enter-left;
      -moz-animation-name: cd-enter-left;
      animation-name: cd-enter-left; }
    .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
      -webkit-animation-direction: reverse;
      -moz-animation-direction: reverse;
      animation-direction: reverse; }
  .cd-horizontal-timeline .events-content li > * {
    margin: 0 auto; }
  .cd-horizontal-timeline .events-content h2 {
    font-weight: bold;
    font-size: 2.6rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1.2; }
  .cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto; }
    .cd-horizontal-timeline .events-content em::before {
      content: '- '; }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.4rem;
    color: #151313; }
  .cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
    line-height: 1.6; }
  @media only screen and (min-width: 768px) {
    .cd-horizontal-timeline .events-content h2 {
      font-size: 7rem; }
    .cd-horizontal-timeline .events-content em {
      font-size: 2rem; }
    .cd-horizontal-timeline .events-content p {
      font-size: 1.8rem; } }

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
.contact .map {
  width: 100%; }
  .contact .map .acf-map {
    width: 100%;
    height: 300px; }
.contact .contact-details {
  max-width: 800px;
  margin: 1em auto;
  padding: 0; }
  .contact .contact-details .contact-details-item {
    padding: 1em 0;
    margin: 1em 0;
    border-bottom: 1px solid white;
    list-style: none; }
    .contact .contact-details .contact-details-item:last-child {
      border: none; }
    .contact .contact-details .contact-details-item > * {
      margin-top: 0; }
    .contact .contact-details .contact-details-item.contact-details-item--address {
      padding-bottom: 2em; }
      @media screen and (min-width: 48.1em) {
        .contact .contact-details .contact-details-item.contact-details-item--address {
          margin-top: 1em;
          display: flex;
          align-items: flex-end; } }
    .contact .contact-details .contact-details-item .contact-address-col {
      flex: 2 auto; }
      @media screen and (max-width: 47.3em) {
        .contact .contact-details .contact-details-item .contact-address-col {
          text-align: center;
          margin-bottom: 1em; } }

.social-links {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 47.3em) {
    .social-links {
      margin-top: 1em; } }
  .social-links li {
    list-style: none; }
    .social-links li i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      background-size: 100%; }
    .social-links li .twitter i {
      background: url("../assets/images/icon-twitter.svg") no-repeat center center; }
    .social-links li .facebook i {
      background: url("../assets/images/icon-facebook.svg") no-repeat center center; }

/*# sourceMappingURL=shore-styles.css.map */
